body{
    background-color: #1E201E;
    color: #ECDFCC;
    font-family:"Pixelify Sans", sans-serif;
    text-align: center;
}
nav{
    background-color: #3C3D37;
}
.card{
    background-color: transparent;
    color: #ECDFCC;
    border: 2px solid #697565;
    border-top: 0px;
    border-radius: 32px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.container {
  background: linear-gradient(to bottom right, rgba(30, 32, 30, 0.30) 60%, rgba(236, 223, 204, 0.20));
  border-radius: 20px;
}
.titeltext {
  font-size: 55px;
}
span.method {
  display: inline; 
  color: rgb(210, 210, 3);
}

.card-text{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #04ff00;
  }
  .hero-image {
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }
  .hero-image .heroImage {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.201), rgba(30, 32, 30, 0.999)), url(../WebsiteImages/ScriptScreenshotStretched.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 300px;
  }
  .fa {
    padding: 10px;
    font-size: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  .fa {
    opacity: 0.8;
    padding: 15px;
    width: 60px;
    text-decoration: none;
    margin: 5px 20px;
    border-radius: 15%;
}
  .fa-linkedin {
    background: #007bb5;
    color: white;
}
.fa-envelope{
    background: #3C3D37;
    color: white;
}
.fa-phone {
    background: #3C3D37;
    color: white;
}
.fa-github {
    background: #1f2328;
    color: white;
}
.fa:hover{
    opacity: 0.99;
}
#animated {
  transition: color 1s ease-out;
}