body{
    background-color: lightblue;
}
boven{
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
}
h1{
    text-align: center;
}