body{
    background-color: #363737;
    color: white;
}
boven{
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    text-shadow: 3px 3px #151515;
}
h1{
    text-align: center;
}
kop2{
    color: white;
}